body{
  background-color: rgb(169, 162, 162);
}
.my_card{
  border-radius: 20px;
  overflow: hidden;
}
h1.titolo{
  margin-top: 50px;
  color: white;
}
.center{
  justify-content: center;
  align-items: center;
}